<div class="hero">
  <img class="hero-img" src="./images/hero.jpg" alt="House Image" />
  <div class="caption">Keep smiling, because life is a beautiful thing and
    there's so much to smile about.</div>
</div>
<div class="content wrapper">
  <div class="custom-card">
    <img src="./images/icon.jpg" alt="Icon" />
    <h3 class="title mb-1">Peace of Mind</h3>
    <p class="description">Your time is limited, so don't waste it living
      someone else's life. Don't be trapped by dogma – which is living with the
      results of other people's thinking.</p>
  </div>
  <div class="custom-card">
    <img src="./images/icon.jpg" alt="Icon" />
    <h3 class="title mb-1">Peace of Mind</h3>
    <p class="description">Your time is limited, so don't waste it living
      someone else's life. Don't be trapped by dogma – which is living with the
      results of other people's thinking.</p>
  </div>
  <div class="custom-card">
    <img src="./images/icon.jpg" alt="Icon" />
    <h3 class="title mb-1">Peace of Mind</h3>
    <p class="description">Your time is limited, so don't waste it living
      someone else's life. Don't be trapped by dogma – which is living with the
      results of other people's thinking.</p>
  </div>
</div>
<div class="wrapper">
  <h1 class="mb-4">Featured Rentals</h1>
  <div class="features">
    {{#each rentals}}
      <div class="custom-card">
        <img src="./images/house.jpeg" alt="House" />
        <h3 class="title">{{this.headline}}</h3>
        <div class="body">
          <div class="top">
            <div class="data">{{this.numSleeps}} People</div>
            <div class="data">{{this.numBedrooms}} Bedroom</div>
          </div>
          <div class="bottom">
            <div class="data">{{this.numBathrooms}} Bathroom</div>
            <div class="data">${{this.pricePerNight}}</div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>