<div class="wrapper">
  <h1 class="mb-4">Toronto Ontaro</h1>
  <div class="features">
    {{#each rentals.Toronto}}
      <div class="custom-card">
        <img src="./images/house.jpeg" alt="House" />
        <h3 class="title">{{this.headline}}</h3>
        <div class="body">
          <div class="top">
            <div class="data">{{this.numSleeps}} People</div>
            <div class="data">{{this.numBedrooms}} Bedroom</div>
          </div>
          <div class="bottom">
            <div class="data">{{this.numBathrooms}} Bathroom</div>
            <div class="data">${{this.pricePerNight}}</div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<div class="wrapper">
  <h1 class="mb-4">Scugog Ontaro</h1>
  <div class="features">
    {{#each rentals.Scugog}}
      <div class="custom-card">
        <img src="./images/house.jpeg" alt="House" />
        <h3 class="title">{{this.headline}}</h3>
        <div class="body">
          <div class="top">
            <div class="data">{{this.numSleeps}} People</div>
            <div class="data">{{this.numBedrooms}} Bedroom</div>
          </div>
          <div class="bottom">
            <div class="data">{{this.numBathrooms}} Bathroom</div>
            <div class="data">${{this.pricePerNight}}</div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>